---
---

@import "{{ site.theme }}";


.alert, .callout {
    overflow: hidden;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #fbeed5;
    color: #c09853;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}


#header_wrap {
    background: #212121;
    text-align: center;
}



.logo {
    display: inline-block;
    vertical-align:middle;
    box-shadow: none !important;
    border: none;
}




.jumbo-link {
    display: inline-block;
    text-decoration: none;
    outline: none;
}
a.jumbo-link > img {
    margin: 2px;
}
a.jumbo-link:hover > img {
    margin:  0px;
    border: 2px solid #aaaaaa;
}

.jumbo-text {
    width:  200px;
    height: 200px;
    overflow: hidden;
}



/* Video Style */

.video-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.video-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* FAQ accordion */

/* TODO: Make look better and close if not clicked maybe add + - */

.accordion-item{
    background-color: #242424;
    border-radius: .4em;
    margin-bottom: 1rem;
    padding: 0.3rem;
    padding: 5px 10px;
}


.accordion-link{
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 1rem;
}


.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 650ms;
}


.answer::before{
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 90%;
    background-color: #1d501d;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    color: white;
    font-size: 1rem;
    padding: 2rem;
}

.accordion-item:target .answer{
    max-height: 20rem;
}



#catalogTable {
    width: 100% !important;
}
#catalogTable tr {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
#catalogTable tbody>tr {
    border: 5px solid #fff;
}
#catalogTable tr>th {
    width: auto !important;
}

#catalogTable td {
    vertical-align:top;
    text-align:left;
}

.dataTables_filter {
    margin-bottom: 5px;
}
.catalog-img {
    max-width: 100px;
    display: block;
    margin: 0 auto;
}

.jumbo-link-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (min-width: 768px) { 
    #catalogTable tr {
        display: table-row;
    }
    .jumbo-link-section {
        flex-direction: row;
    }
}

.paginate_button {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s;
    cursor: pointer;
    
}

.paginate_button.current  {
    background: white !important;
    background-color: white !important;
    // background: black !important;
    // color: white !important;
}

.paginate_button:hover {
    background: black !important;
}
.paginate_button.current:hover {
    background: #bbb !important;
}
