---
---

@import "{{ site.theme }}";


.alert, .callout {
    overflow: hidden;
}
.alert-warning {
    background-color: #fcf8e3;
    border-color: #fbeed5;
    color: #c09853;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #3a87ad;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}









.jumbo-link {
    display: inline-block;
    text-decoration: none;
    outline: none;
}
a.jumbo-link > img {
    margin: 2px;
}
a.jumbo-link:hover > img {
    margin:  0px;
    border: 2px solid #aaaaaa;
}

.jumbo-text {
    width:  200px;
    height: 200px;
    overflow: hidden;
}



/* FAQ accordion */


/* TODO: Make look better and close if not clicked maybe add + - */

.accordion-item{
    background-color: aqua;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0.5rem 2px 0.5rem rgba(0,0,0,0.1);
}


.accordion-link{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    background-color: #283042;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}


.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: #212838;
    transition: max-height 650ms;
}



.answer::before{
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 90%;
    background-color: gray;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer p{
    color: white;
    font-size: 0.8rem;
    padding: 2rem;
}

.accordion-item:target .answer{

    max-height: 20rem;


}
